.docs-header.header--noBackground
  / index
  .index
    %h1
      NeverCoin
    %h2
      Spend Bitcoin with ease, without ever touching Bitcoin.
      %br
      Take advantage of steep discounts when you pay with Bitcoin.
    %p.start.Bootflat{style: "position: absolute; left: 50%;"}
      %a{href: new_user_registration_path, style: "color: white;"}
        %button{class: 'btn btn-primary btn-block', style: "width: 200px; height: 50px; position: absolute; right: -100px;"}
          Get Started
    .clearfix
    %p.learn_more
      %a
        Learn More