!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title NeverCoin
    %meta{content: "initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
    %link{href: "css/site.min.css", rel: "stylesheet"}/
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic", rel: "stylesheet", type: "text/css"}/
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    %script{src: "js/site.min.js", type: "text/javascript"}
  %body.home
    = yield